@font-face {
  font-family: "SuisseIntl";
  font-weight: 700;
  src: url("~@/assets/fonts/SuisseIntl/SuisseIntl-Bold.otf");
}

@font-face {
  font-family: "SuisseIntl";
  font-weight: 500;
  src: url("~@/assets/fonts/SuisseIntl/SuisseIntl-Medium.ttf");
}